@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;

/* Custom base styles */
html {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.image-blurred-edge {
  box-shadow: 0 0 8px 8px white inset;
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-a {
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .logo-outline {
    text-shadow:
      2px 2px 0 #4074b5,
      2px -2px 0 #4074b5,
      -2px 2px 0 #4074b5,
      -2px -2px 0 #4074b5,
      2px 0px 0 #4074b5,
      0px 2px 0 #4074b5,
      -2px 0px 0 #4074b5,
      0px -2px 0 #4074b5,
      0px 0px 3px #000000;
  }
}
